@tailwind base;
@tailwind components;
@tailwind utilities;

.loadTable {
  width: 100%;
  border-collapse: collapse;
}

.loadTable th,
.loadTable td {
  padding: 0.25rem 0.5rem;
  border-bottom: 1px solid #ddd;
}
